body{
    background: url(bg.jfif) no-repeat center center fixed;
    background-size: cover; 
}

*{
  margin: 0;
}

.main{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content:space-between;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 230px; 
  /* height: 230px; */
  background: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0),rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.content{
  display: flex;
  /* background: blanchedalmond; */
  /* height: 608px; */
  flex-basis: 600px;
  
}

.footer{
  display: flex;
  background: blue;
  height: 100px;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0), rgba(0, 0, 0),rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.main-logo{
    width: 400px;
    
}

